@charset "UTF-8";
/** 
* Foundation
* ========================== */
/*!
 * ress.css • v3.0.1
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  box-sizing: border-box;
  -o-tab-size: 4;
     tab-size: 4;
  /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
  padding: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
hr {
  /* Show the overflow in Edge and IE */
  height: 0;
  overflow: visible;
  /* Add the correct box sizing in Firefox */
}

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type=search] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  color: inherit;
  cursor: pointer;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Hide content from screens but not screenreaders */
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default;
}

/*:root {
  --color-header-background: #fff7ef;
  --color-sidebar-background: #f2ede9;
}
*/
html, body {
  font-family: "Noto Serif KR", serif;
}

p {
  font-family: "Sawarabi Mincho";
}

li {
  list-style: none;
}

a {
  color: #4D4D4D;
  text-decoration: none;
}

/** 
* Layout
* ========================== */
.l-header {
  background-color: rgba(255, 255, 255, 0.5);
  height: 177px;
  width: 100%;
}

/* Object 
* ========================== */
/* Component ------------ */
.c-sec-title {
  font-size: 72px;
  position: relative;
}

.c-sec-title::after {
  background-color: #4D4D4D;
  content: "";
  height: 2px;
  position: absolute;
  right: 0;
  top: 0;
  width: 60%;
}

.c-sec-sub {
  display: block;
  font-size: 36px;
  margin-top: 30px;
  text-align: center;
}

/* Project ------------ */
.p-header {
  color: #4D4D4D;
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

.p-logo {
  margin-left: 143px;
  position: relative;
}

.p-logo::after {
  content: "WEB DESIGN\aNAGOMI CREATE";
  font-size: 12px;
  left: 100px;
  position: absolute;
  top: 30px;
  white-space: pre;
}

.p-hero {
  height: 100vh;
  text-align: center;
  width: 50%;
}

.p-hero-name {
  font-size: 61px;
  margin: 144px;
  margin-bottom: 80px;
  position: relative;
}

.p-hero-name::after {
  background: #ff8282;
  background: linear-gradient(90deg, #ff8282 0%, #51cbff 35%, #6046ff 100%);
  border-radius: 5px;
  content: "";
  height: 5px;
  left: 36px;
  position: absolute;
  top: 190px;
  width: 595px;
}

.p-sub-upper {
  display: block;
  font-size: 36px;
  margin-bottom: 30px;
}

.p-sub-under {
  display: block;
  font-size: 36px;
  margin-top: 60px;
}

.p-site-description {
  font-size: 20px;
}

.p-main {
  background: url(../../../img/hero-bg.png) top right/auto no-repeat;
  color: #4D4D4D;
  height: 100vh;
}

.p-gnav {
  display: flex;
}
.p-gnav ul {
  align-self: center;
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  padding-right: 140px;
  width: 50vw;
}
.p-gnav ul li a {
  position: relative;
}
.p-gnav ul li a:hover {
  opacity: 0.5;
}

.p-philosophy {
  background: url(../../../img/philo-bg.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row-reverse;
  height: 100vh;
  justify-content: space-between;
  width: 100vw;
}
.p-philosophy p {
  align-self: center;
  font-size: 20px;
  line-height: 250%;
  padding-left: 220px;
  text-align: center;
  vertical-align: middle;
}
.p-philosophy .p-philo-title {
  align-self: center;
  color: #fff;
  padding-right: 220px;
}
.p-philosophy .p-philo-title::after {
  background-color: #fff;
  content: "";
  height: 2px;
  position: absolute;
  right: 0 px;
  top: 120px;
  width: 100%;
}

/* Utility ------------ */

@media screen {
  [hidden~=screen] {
    display: inherit;
  }

  [hidden~=screen]:not(:active):not(:focus):not(:target) {
    clip: rect(0 0 0 0) !important;
    position: absolute !important;
  }
}