@charset "UTF-8";
/** 
* Foundation
* ========================== */
/*!
 * ress.css • v3.0.1
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  box-sizing: border-box;
  -o-tab-size: 4;
     tab-size: 4;
  /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
  padding: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
hr {
  /* Show the overflow in Edge and IE */
  height: 0;
  overflow: visible;
  /* Add the correct box sizing in Firefox */
}

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type=search] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  color: inherit;
  cursor: pointer;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Hide content from screens but not screenreaders */
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default;
}

/*:root {
  --color-header-background: #fff7ef;
  --color-sidebar-background: #f2ede9;
}
*/
html, body {
  font-family: "Noto Serif KR", serif;
}

p {
  font-family: "Sawarabi Mincho";
}

li {
  list-style: none;
}

a {
  color: #4D4D4D;
  text-decoration: none;
}

/** 
* Layout
* ========================== */
.l-footer {
  background-color: #000;
  width: 100%;
}

.l-header {
  background-color: rgba(255, 255, 255, 0.5);
  height: 177px;
  width: 100%;
}

/* Object 
* ========================== */
/* Component ------------ */
.c-about-fig {
  height: 380px;
  margin: 50px;
  width: 130px;
}
.c-about-fig img {
  height: 180px;
  -o-object-fit: contain;
     object-fit: contain;
  width: 130px;
}
.c-about-fig .fig-title {
  font-size: 28px;
  font-weight: bold;
  margin: 5px 0;
  text-align: center;
}
.c-about-fig .about-direction {
  font-size: 12px;
  line-height: 170%;
  width: 130px;
}

.c-card {
  margin: 10px;
  width: 30%;
}
.c-card img {
  display: block;
  margin: auto;
  transition: all 0.3s ease-in-out;
}
.c-card img:hover {
  transform: rotate(5deg) scale(1.5) translateY(-40px);
}
.c-card .item-title {
  font-size: 28px;
  padding: 0 80px;
}
.c-card .item-descrption {
  font-size: 14px;
  padding: 10px 80px;
}

.c-sec-title {
  font-size: 72px;
  position: relative;
}

.c-sec-title::after {
  background-color: #4D4D4D;
  content: "";
  height: 2px;
  position: absolute;
  right: 0;
  top: 0;
  width: 60%;
}

.c-sec-sub {
  display: block;
  font-size: 36px;
  margin-top: 30px;
  text-align: center;
}

.c-title-area {
  width: 30vw;
}

.c-title-area-r {
  display: flex;
  flex-direction: row-reverse;
  width: 100vw;
}

/* Project ------------ */
.p-about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 100px 0 200px;
  width: 100vw;
}
.p-about .p-about-title {
  align-self: center;
  color: #868686;
  padding-right: 220px;
  padding-top: 100px;
}
.p-about .p-about-title::after {
  background-color: #868686;
  content: "";
  height: 2px;
  position: absolute;
  right: 0;
  top: 220px;
  width: 100%;
}
.p-about .p-about-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0 200px;
  width: 80%;
}

.p-contact {
  display: flex;
  margin: 0 auto 150px;
  width: 100vw;
}
.p-contact button {
  background-color: #4D4D4D;
  color: #fff;
  margin: 0 auto;
  padding: 10px;
  transition: all 0.3s;
  width: 300px;
}
.p-contact button:hover {
  opacity: 0.5;
}

.p-footer {
  background-color: #4D4D4D;
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.p-footer .p-ft-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 120px;
}
.p-footer .p-ft-wrapper .item--l {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.p-footer .p-ft-wrapper .item--l .textarea {
  display: flex;
  font-size: 24px;
  justify-content: space-around;
  margin: 180px;
  min-width: 600px;
  text-align: center;
}
.p-footer .p-ft-wrapper .item--l .textarea .title {
  margin-top: 20px;
}
.p-footer .p-ft-wrapper .item--l .textarea .name {
  font-size: 36px;
  position: relative;
}
.p-footer .p-ft-wrapper .item--l .textarea .name::after {
  content: "Kikuchi Nagomi";
  font-size: 18px;
  left: 0px;
  letter-spacing: 0.2rem;
  position: absolute;
  top: 50px;
}
.p-footer .p-ft-wrapper .item--l button {
  background-color: #000;
  margin: 0 auto;
  padding: 12px;
  transition: all 0.3s;
  width: 300px;
}
.p-footer .p-ft-wrapper .item--l button:hover {
  opacity: 0.5;
}
.p-footer .p-ft-wrapper .item--r {
  width: 30%;
}
.p-footer .p-ft-small {
  font-size: 14px;
  padding: 10px 0;
  width: 100%;
}

.p-header {
  color: #4D4D4D;
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

.p-logo {
  margin-left: 143px;
  position: relative;
}

.p-logo::after {
  content: "WEB DESIGN\aNAGOMI CREATE";
  font-size: 12px;
  left: 100px;
  position: absolute;
  top: 30px;
  white-space: pre;
}

.p-hero {
  height: 80vh;
  position: relative;
  text-align: center;
  width: 50%;
}

.p-hero-name {
  font-size: 61px;
  margin: 144px;
  margin-bottom: 80px;
  position: relative;
}

.p-hero-name::after {
  -webkit-animation: bggradient 10s ease infinite;
          animation: bggradient 10s ease infinite;
  background: linear-gradient(90deg, #ff8282 0%, #51cbff 35%, #6046ff 100%);
  background-size: 200% 200%;
  border-radius: 5px;
  content: "";
  height: 5px;
  left: 36px;
  position: absolute;
  top: 190px;
  width: 595px;
}

@-webkit-keyframes bggradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes bggradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.p-sub-upper {
  display: block;
  font-size: 36px;
  margin-bottom: 30px;
}

.p-sub-under {
  display: block;
  font-size: 36px;
  margin-top: 60px;
}

.p-site-description {
  font-size: 20px;
}

.container {
  height: 1000px;
  position: absolute;
  right: -105px;
  top: -205px;
  transform: scale(1.1);
  z-index: -1;
}

.circle--1 {
  -webkit-animation: wobbling-c_x 2s ease-in-out infinite alternate, wobbling-c_y 3s ease-in-out infinite alternate;
          animation: wobbling-c_x 2s ease-in-out infinite alternate, wobbling-c_y 3s ease-in-out infinite alternate;
  background: linear-gradient(280deg, rgba(255, 95, 95, 0.3), rgba(253, 174, 81, 0.3));
  border-radius: 50%;
  height: 150px;
  left: 320px;
  position: absolute;
  top: 230px;
  width: 150px;
}

.circle--2 {
  -webkit-animation: wobbling-c_x 3s ease-in-out infinite alternate, wobbling-c_y 4s ease-in-out infinite alternate;
          animation: wobbling-c_x 3s ease-in-out infinite alternate, wobbling-c_y 4s ease-in-out infinite alternate;
  background: linear-gradient(280deg, rgba(255, 95, 95, 0.3), rgba(253, 174, 81, 0.3));
  border-radius: 50%;
  height: 150px;
  left: 326px;
  position: absolute;
  top: 235px;
  width: 150px;
}

.box--1 {
  -webkit-animation: wobbling-b_x 3s ease-in-out infinite alternate, wobbling-b_y 4s ease-in-out infinite alternate;
          animation: wobbling-b_x 3s ease-in-out infinite alternate, wobbling-b_y 4s ease-in-out infinite alternate;
  background: linear-gradient(280deg, rgba(17, 181, 3, 0.9), #bdf8b8);
  height: 220px;
  left: 137px;
  position: absolute;
  top: 5px;
  width: 220px;
}

.box--2 {
  -webkit-animation: wobbling-b_x 2s ease-in-out infinite alternate, wobbling-b_y 3s ease-in-out infinite alternate;
          animation: wobbling-b_x 2s ease-in-out infinite alternate, wobbling-b_y 3s ease-in-out infinite alternate;
  background: linear-gradient(280deg, rgba(17, 181, 3, 0.3), rgba(189, 248, 184, 0.3));
  height: 220px;
  left: 132px;
  position: absolute;
  top: -2px;
  width: 220px;
}

.hex--1 {
  -webkit-animation: wobbling-h_x 2s ease-in-out infinite alternate, wobbling-h_y 3s ease-in-out infinite alternate;
          animation: wobbling-h_x 2s ease-in-out infinite alternate, wobbling-h_y 3s ease-in-out infinite alternate;
  background: linear-gradient(280deg, rgba(255, 213, 130, 0.3), rgba(255, 221, 45, 0.3));
  -webkit-clip-path: polygon(50% 0, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
          clip-path: polygon(50% 0, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
  height: 170px;
  left: 500px;
  position: absolute;
  top: 20px;
  width: 170px;
}

.hex--2 {
  -webkit-animation: wobbling-h_x 3s ease-in-out infinite alternate, wobbling-h_y 4s ease-in-out infinite alternate;
          animation: wobbling-h_x 3s ease-in-out infinite alternate, wobbling-h_y 4s ease-in-out infinite alternate;
  background: linear-gradient(280deg, rgba(255, 213, 130, 0.3), rgba(255, 221, 45, 0.3));
  -webkit-clip-path: polygon(50% 0, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
          clip-path: polygon(50% 0, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
  height: 170px;
  left: 503px;
  position: absolute;
  top: 17px;
  width: 170px;
}

.tri--1 {
  -webkit-animation: wobbling-h_x 2s ease-in-out infinite alternate, wobbling-h_y 3s ease-in-out infinite alternate;
          animation: wobbling-h_x 2s ease-in-out infinite alternate, wobbling-h_y 3s ease-in-out infinite alternate;
  background: linear-gradient(280deg, rgba(71, 112, 255, 0.3), rgba(153, 200, 255, 0.3));
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  height: 120px;
  left: 380px;
  position: absolute;
  top: 90px;
  transform: rotate(15deg);
  transition: transform 0.4s ease;
  width: 140px;
}

.tri--2 {
  -webkit-animation: wobbling-h_x 3s ease-in-out infinite alternate, wobbling-h_y 44s ease-in-out infinite alternate;
          animation: wobbling-h_x 3s ease-in-out infinite alternate, wobbling-h_y 44s ease-in-out infinite alternate;
  background: linear-gradient(280deg, rgba(71, 112, 255, 0.3), rgba(153, 200, 255, 0.3));
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  height: 120px;
  left: 383px;
  position: absolute;
  top: 93px;
  transform: rotate(15deg);
  transition: transform 0.4s ease;
  width: 140px;
}

.tri--2:hover {
  transform: rotate(100deg);
}

@-webkit-keyframes wobbling-c_x {
  0% {
    margin-left: 9px;
    transform: scale(1);
  }
  100% {
    margin-left: 0px;
    transform: scale(0.9);
  }
}

@keyframes wobbling-c_x {
  0% {
    margin-left: 9px;
    transform: scale(1);
  }
  100% {
    margin-left: 0px;
    transform: scale(0.9);
  }
}
@-webkit-keyframes wobbling-c_y {
  0% {
    margin-top: 0px;
  }
  100% {
    margin-top: 13px;
  }
}
@keyframes wobbling-c_y {
  0% {
    margin-top: 0px;
  }
  100% {
    margin-top: 13px;
  }
}
@-webkit-keyframes wobbling-b_x {
  0% {
    margin-left: 5px;
    transform: scale(0.9) rotate(30deg);
  }
  100% {
    margin-left: 10px;
    transform: scale(1) rotate(27deg);
  }
}
@keyframes wobbling-b_x {
  0% {
    margin-left: 5px;
    transform: scale(0.9) rotate(30deg);
  }
  100% {
    margin-left: 10px;
    transform: scale(1) rotate(27deg);
  }
}
@-webkit-keyframes wobbling-b_y {
  0% {
    margin-top: 2px;
  }
  100% {
    margin-top: 12px;
  }
}
@keyframes wobbling-b_y {
  0% {
    margin-top: 2px;
  }
  100% {
    margin-top: 12px;
  }
}
@-webkit-keyframes wobbling-h_x {
  0% {
    margin-left: 10px;
    transform: scale(1) rotate(2deg);
  }
  100% {
    margin-left: 19px;
    transform: scale(0.9) rotate(6deg);
  }
}
@keyframes wobbling-h_x {
  0% {
    margin-left: 10px;
    transform: scale(1) rotate(2deg);
  }
  100% {
    margin-left: 19px;
    transform: scale(0.9) rotate(6deg);
  }
}
@-webkit-keyframes wobbling-h_y {
  0% {
    margin-top: 19px;
  }
  100% {
    margin-top: 12px;
  }
}
@keyframes wobbling-h_y {
  0% {
    margin-top: 19px;
  }
  100% {
    margin-top: 12px;
  }
}
.p-main {
  background: url(../../../img/hero-bg.png) center right/auto no-repeat;
  color: #4D4D4D;
  height: 100vh;
}

.p-gnav {
  display: flex;
}
.p-gnav ul {
  align-self: center;
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  padding-right: 140px;
  width: 50vw;
}
.p-gnav ul li a {
  position: relative;
}
.p-gnav ul li a:hover {
  opacity: 0.5;
}

.p-philosophy {
  background: url(../../../img/philo-bg.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row-reverse;
  height: 100vh;
  justify-content: space-between;
  width: 100vw;
}
.p-philosophy p {
  align-self: center;
  font-size: 20px;
  line-height: 270%;
  padding-left: 220px;
  text-align: center;
  vertical-align: middle;
}
.p-philosophy .p-philo-title {
  align-self: center;
  color: #fff;
  padding-right: 220px;
}
.p-philosophy .p-philo-title::after {
  background-color: #fff;
  content: "";
  height: 2px;
  position: absolute;
  right: 0 px;
  top: 120px;
  width: 100%;
}

.p-product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 200px 0 50px;
  width: 100vw;
}
.p-product .p-product-title {
  align-self: center;
  color: #4D4D4D;
  padding-left: 220px;
}
.p-product .p-product-title::after {
  background-color: #4D4D4D;
  content: "";
  height: 2px;
  position: absolute;
  right: 0;
  top: 120px;
  width: 100%;
}
.p-product table {
  border: 1px #4D4D4D solid;
  border-collapse: collapse;
  margin: 100px auto;
  text-align: center;
  width: 1156px;
}
.p-product table caption {
  background-color: #4d4d4d;
  color: #fff;
  font-size: 36px;
  padding: 50px 0;
}
.p-product table tr {
  border-bottom: 1px #4D4D4D solid;
}
.p-product table tr td {
  padding: 50px 0;
}
.p-product table tr td:first-child {
  border-right: 1px #4D4D4D dotted;
  font-size: 30px;
  min-width: 550px;
}
.p-product table tr td:last-child {
  font-size: 20px;
  min-width: 400px;
}
.p-product table tr .bit {
  font-size: 21px;
}

.p-results {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  margin: 200px 0;
  width: 100vw;
}
.p-results .p-results-title {
  align-self: center;
  color: #4D4D4D;
  padding-left: 220px;
}
.p-results .p-results-title::after {
  background-color: #4D4D4D;
  content: "";
  height: 2px;
  position: absolute;
  right: 0;
  top: 120px;
  width: 100%;
}
.p-results .p-slide-area {
  display: flex;
  justify-content: space-around;
  margin-top: -100px;
  width: 100vw;
}

.p-wv-wrapper .wv-box {
  overflow: hidden;
  padding: 50px;
  position: relative;
  transform: translate3d(0, 0, 0);
  width: 100vw;
}
.p-wv-wrapper .wv-box2 {
  margin-bottom: 100px;
  overflow: hidden;
  padding: 50px;
  position: relative;
  transform: translate3d(0, 0, 0);
  width: 100vw;
}
.p-wv-wrapper .inner-content {
  background-color: #f0f0f0;
  display: block;
  margin: 0 auto;
  padding-bottom: 80px;
}
.p-wv-wrapper .wave {
  -webkit-animation: drift 2500ms infinite linear;
          animation: drift 2500ms infinite linear;
  background: #f0f0f0;
  border-radius: 43%;
  height: 6000px;
  left: -50%;
  margin-left: -50%;
  margin-top: -50%;
  position: absolute;
  top: 1360%;
  transform-origin: 50% 48%;
  width: 6000px;
}
.p-wv-wrapper .wave.-three {
  -webkit-animation: drift 4000ms infinite linear;
          animation: drift 4000ms infinite linear;
  background-color: #f0f0f0;
  left: -45%;
}
.p-wv-wrapper .wave.-two {
  -webkit-animation: drift 5000ms infinite linear;
          animation: drift 5000ms infinite linear;
  background-color: #f0f0f0;
  left: -65%;
}
.p-wv-wrapper .wave.-four {
  -webkit-animation: drift 2000ms infinite linear;
          animation: drift 2000ms infinite linear;
  background-color: #f0f0f0;
  left: -75%;
}
.p-wv-wrapper .wave.-five {
  -webkit-animation: drift 3500ms infinite linear;
          animation: drift 3500ms infinite linear;
  background-color: #f0f0f0;
  left: -25%;
}
.p-wv-wrapper .wave2 {
  -webkit-animation: drift 2400ms infinite linear;
          animation: drift 2400ms infinite linear;
  background: #f0f0f0;
  border-radius: 43%;
  height: 4000px;
  left: -10%;
  margin-left: -50%;
  margin-top: -50%;
  position: absolute;
  top: -3035%;
  transform-origin: 50% 48%;
  width: 4000px;
}
.p-wv-wrapper .wave2.-three {
  -webkit-animation: drift 4900ms infinite linear;
          animation: drift 4900ms infinite linear;
  background-color: #f0f0f0;
  left: 7%;
  top: -3030%;
}
.p-wv-wrapper .wave2.-two {
  -webkit-animation: drift 6100ms infinite linear;
          animation: drift 6100ms infinite linear;
  background-color: #f0f0f0;
  left: -2%;
}
.p-wv-wrapper .wave2.-four {
  -webkit-animation: drift 3900ms infinite linear;
          animation: drift 3900ms infinite linear;
  background-color: #f0f0f0;
  left: 27%;
  top: -3030%;
}
.p-wv-wrapper .wave2.-five {
  -webkit-animation: drift 3200ms infinite linear;
          animation: drift 3200ms infinite linear;
  background-color: #f0f0f0;
  left: -20%;
  top: -3030%;
}
@-webkit-keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

/* Utility ------------ */

@media screen {
  [hidden~=screen] {
    display: inherit;
  }

  [hidden~=screen]:not(:active):not(:focus):not(:target) {
    clip: rect(0 0 0 0) !important;
    position: absolute !important;
  }
}