@charset "UTF-8";
.c-card {
    width: 30%;
    margin: 10px;
    img{
        margin: auto;
        transition: all 0.3s ease-in-out;
        display: block;
    }
    img:hover {
        transform: rotate(5deg) scale(1.5) translateY(-40px);
    }
    .item-title {
        font-size: 28px;
        padding:0 80px;
    }
    .item-descrption {
        font-size: 14px;
        padding:10px 80px;
    }
}
