@charset "UTF-8";
.c-sec_title{
    position: relative;
    font-size: 24px;
    display: block;
    text-align: center;
    span,.center{
        position: absolute;
        top: -24px;
        left: 48.5%;
        transform: translate(0, -50%);
        font-size: 14px;
        border-bottom:1px #000 solid;
        display: block;
    }
}
