@charset "UTF-8";
.p-about {
    width: 80%;
    border-radius: 10px;
    background-color: rgba(250, 250, 250, 0.45);
    background-image: url(/img/about-bg.png);
    background-position: left bottom;
    padding: 108px 160px 78px;
    margin:130px 0;
    display: flex;
    justify-content: space-between;
    filter: drop-shadow(1px 1px 1px #666);
    .p-ab_info {
        width: 60%;
        p {
            margin-top:30px;
            padding: 0 40px;
            line-height: 2;
        }
    }
    .p-ab_fig {
        width: 40%;
        .p-ab-pic {
            margin: 0 auto;
            width: 317px;
            height: 317px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $secondary;
            border-radius: 10px;
            img {
                width: 250px;
                height: 250px;
                border-radius: 10px;
            }
        }
        .p-ab_caption {
            position: relative;
            margin: 20px auto;
            width: 100%;
            p {
                text-align: center;
            }
            p::before {
                content: "きくち なごみ";
                font-size: 10px;
                position: absolute;
                top: -14px;
                left: 225px;
            }
        }
    }
}
