@charset "UTF-8";
/*＝＝＝並び替えボタンのCSS*/
.sort-btn{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:50px 20px;
  }
  
  .sort-btn li{
    background:#eee;
    border-radius:10px;
    cursor: pointer;
    padding: 10px;
    margin:0 10px;
  }
  
  .sort-btn li.active{/*ボタンに現在地＝activeというクラス名がついたら背景色を変更*/
    background:#ccc;  
  }
  
  /*横幅が480px以下になった際の指定*/
  @media only screen and (max-width: 480px) {
  .sort-btn{
    justify-content: space-between;
  }
    
  .sort-btn li{
    width:48%;
    margin:0 0 10px 0;
    text-align:center;
    } 
  }
  
  /*＝＝＝Muuriのレイアウトのための調整 */
  .p-results{
      padding:50px;
      margin: 50px auto 100px;
  }
  .grid {
    position: relative;/*並び替えの基準点を指定*/
    display: flex;
    justify-content: center;
  }
  /*各画像の横幅などの設定*/
  .item {
    display: block;
    position: absolute;
    width: 33%;/*横並びで3つ表示*/
    z-index: 1;
  }
  
  /*内側のボックスの高さが崩れないように維持*/
  .item-content {
    position: relative;
    margin: 0 20px;
    a{
        position: relative;
            p{
             position: absolute;
             transition: all 0.5s ease-out;
             top:-20%;
             width: 100%;
             text-align: center;
             display: block;
            }
    }
    a:hover p{
        top:-200px;
        z-index:10;
        background-color: $primary;
        color: #fff;
    }
        img {
            filter: drop-shadow(0 2px 2px #999);
            transition: all 0.5s ease-out;
            padding: 15px 10px;
            border-radius: 25px;
            overflow: hidden;

        }
        img:hover {
            filter: drop-shadow(0 20px 16px #333);
            transform: translateY(-5px) scale(1.02);
        }      
}
  
  .grid img{
    width:100%;
    height:auto;
    vertical-align: bottom;
  }
  
  /*横幅が768px以下になった際の指定*/
  @media only screen and (max-width: 768px) {
  .item {
    width: 49.5%;/*横並びで2つ表示*/
  }
  }
