@charset "UTF-8";
.p-header{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}
.p-logo{
    position: relative;
    margin-left: 143px;
}
.p-logo::after{
    position: absolute;
    top:30px;
    left: 100px;
    content:"WEB DESIGN\ANAGOMI CREATE";
    white-space: pre;
    font-size: 12px;
}
.p-gnav ul{
    display: flex;
    justify-content: space-between;
    font-size: 2px;
    width: 500px;
}
