@charset "UTF-8";
.p-hd_results {
    position: absolute;
    background-color: rgba($color: #000000, $alpha: 0.5);
    bottom: 70px;
    width: 100%;
    display: flex;
    padding: 20px 153px;
    display: flex;
    justify-content: flex-end;
    img {
        margin: 0 10px;
        border-radius: 10px;
        width: 150px;
        height: 150px;
        transition: all 0.3s;
    }
    img:hover {
        opacity: 0.5;
    }
}