@charset "UTF-8";
.p-results {
    width: 100%;
    margin-bottom: 150px;
    padding-bottom: 100px;
    display: block;
    .p-rs_slider {
        width: 80%;
        margin: 50px auto;
        padding: 50px 200px;
        display: flex;
        a{
            position: relative;
            p{
             position: absolute;
             transition: all 0.5s ease-out;
             top:-100px;
             width: 100%;
             text-align: center;
             display: block;
            color: $primary;
            }
        }
        a:hover p{
            top: -15px;
        }
            img {
                height: 250px;
                width: 250px;
                filter: drop-shadow(0 2px 2px #999);
                transition: all 0.5s ease-out;
                padding: 60px 15px;
            }
            img:hover {
                filter: drop-shadow(0 20px 16px #333);
                transform: translateY(-5px) scale(1.02);
            }      
    }
}
.swiper-parent {
    position: relative;
    .swiper-container {
        padding-bottom: 50px; /* ★ページネーション・スクロールバー分の余白50pxを下に取る */
        box-sizing: content-box;
    }

    /* 前・次スライドボタンの縦位置調整（スライドの高さの中央に合わせる） */
    .swiper-button-prev, .swiper-button-next {
        top: calc((100% - 50px) * 0.5); /* ☆★ページネーション・スクロールバー（50px）を除く縦位置の中央（＝スライドの高さの中央）に一旦配置 */
        margin-top: -22px; /* ★ボタンの高さ（44px）の半分のネガティブマージンで上に少しずらす */
    }
}
