@charset "UTF-8";
.p-wv-wrapper{

  .wv-box {
    width: 100vw;
    padding:50px;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
  }
  .wv-box2 {
    width: 100vw;
    padding:50px;
    margin-bottom: 100px;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
  }
  .inner-content{
    background-color:#f0f0f0;
    display:block;
    margin:0 auto;
    padding-bottom:80px;
  }
  .wave {
    position: absolute;
    top: 1360%;
    left: -50%;
    background: #f0f0f0;
    width: 6000px;
    height: 6000px;
    margin-left: -50%;
    margin-top: -50%;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 2500ms infinite linear;
   &.-three {
    left: -45%;
        animation: drift 5000ms infinite linear;
        background-color: #f0f0f0;
      }
      
    &.-two {
      left: -55%;
        animation: drift 6000ms infinite linear;
        background-color: #f0f0f0;
      }
  }
  .wave2 {
    position: absolute;
    top: -3028%;
    left: -10%;
    background: #f0f0f0;
    width: 4000px;
    height: 4000px;
    margin-left: -50%;
    margin-top: -50%;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 2400ms infinite linear;
    &.-three {
      top: -3030%;
      left: 5%;
        animation: drift 4900ms infinite linear;
        background-color: #f0f0f0;
      }
      
    &.-two {
      left: 0%;
        animation: drift 6100ms infinite linear;
        background-color: #f0f0f0;
      }
  }

  
  
  @keyframes drift {
    from { transform: rotate(0deg); }
    from { transform: rotate(360deg); }
  }
}